html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: aquamarine;
    /* Fine Testing mods of 64 +- 16 for gap*/
    width: 592px;
    height: 592px;

    display: flex;

    flex-wrap: wrap;
    gap: 1px;
}

.grid-element {
    background-color: white;
    width: 36px;
    height: 36px;
}
